aws-lambda-powertools==1.25.1
boto3==1.21.9
boto3-type-annotations==0.3.1
cfnresponse==1.1.2
jsonschema==4.4.0
lambda-decorators==0.6.0
SQLAlchemy==1.4.36
fastjsonschema~=2.14.5
jmespath~=0.10.0
future~=0.18.2
attrs~=21.2.0
botocore~=1.24.46
s3transfer~=0.5.2
cryptography~=3.4.8
six~=1.15.0
python-dateutil~=2.8.1
urllib3~=1.25.11
certifi~=2020.12.5
greenlet~=1.1.2
pyrsistent~=0.18.0
idna~=2.10
jsonpointer~=2.2
mock~=4.0.3
pytest~=6.2.2
wrapt~=1.12.1
pynamodb~=5.0.0